[
{
	"name" : "Rogier",
	"fb" : "rogier.slag",
	"phones" : [
		"EE:EE:EE:EE:EE:EE",
		"BB:BB:BB:BB:BB:BB"
	],
	"computers" : [
		"CC:CC:CC:CC:CC:CC",
		"DD:DD:DD:DD:DD:DD"
	],
	"tablets" : [
		"AA:AA:AA:AA:AA:AA"
	]
}
]
